* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.topo {
    width: 50%;
    position: relative;
    margin: 0 auto;
}

.topo .brasao {
    width: 80px;
    margin: 0 auto;
    z-index: 10;
}

.topo .brasao img {
    display: inline-block;
    width: 80px;
    height: 80px;
}

table {
    width: 100%;
    margin-top: -50px;
    padding-top: 30px;
    border-top: 10px double #31941b;
    border-bottom: 10px double #31941b;
    border-left: none;
    border-right: none;
}

table tr,
table td {
    border: none;
}

.cabecalho {
    line-height: 12px;
}

.center {
    text-align: center;
}

.nome {
    color: blue;
}

.certificado {
    font-size: 32px;
    padding: 40px 0;
    font-weight: bold;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 30px;
}

.pt10 {
    padding-top: 10px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb80 {
    padding-bottom: 80px;
}

.p10 {
    padding: 10px 0;
}

.lh {
    line-height: 30px;
}

.rodape {
    width: 50%;
    position: relative;
    margin: -40px auto 0;
}

.rodape .logo {
    width: 273px;
    margin: 0 auto;
    z-index: 10;
}

.rodape .logo img {
    display: inline-block;
    width: 273px;
    height: 80px;
}
