/* Muda o texto no file input */

.custom-file-input:lang(pt-br)~.custom-file-label::after {
    content: "Enviar";
}
.custom-file-input:lang(pt-br)~.custom-file-label-success::after {
    content: "Enviar";
}

/* Estiliza um file de sucesso para a submissão do arquivo */
.custom-file-label-success {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid;
    border-radius: 0.25rem;
    color: #28a745;
    border-color: #28a745;
}

.custom-file-label-success::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -6;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    content: "Browse";
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}